<div fxLayout="column" fxFlexFill="grow">
  <mat-toolbar color="primary">
    <span>Michael Eggers</span>
    <span fxFlex="grow"></span>
    <mat-icon fontSet="fa" fontIcon="fa-times-circle"></mat-icon>
  </mat-toolbar>
  <div id="main-content" fxLayout="row" fxFlex="grow" >
    <div  fxLayout="row" fxFlex="50%" style="background-color: gainsboro;">
      <div fxFlex>Col 1 Item 1</div>
      <div fxFlex>Col 1 Item 2</div>
    </div>
    <div fxFlex fxLayout="column">
      <div fxFlex>Col 2 Item 1</div>
      <div fxFlex>Col 2 Item 2</div>
    </div>
  </div>
</div>
